$black: #232323;

$font_color: #232323;

$graphite: #303030;
$graphite_light: #4d4d4d;
$accent_color: #885868;

$gray: #cacaca;
$gray-light: #e0e0e0;
$gray-line: #f6f6f6;

$white: #ffffff;

$container-width: 90%;

$duration: 0.15s;

$font_oswald_bold: 'Oswald Bold';
$font_oswald_reg: 'Oswald Regular';
$font_oswald_light: 'Oswald Light';

$font_raleway_regular: 'Raleway Regular';
$font_raleway_bold: 'Raleway Bold';