.brands {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;

    .title-section {
        margin-bottom: 40px;
    }

    &__items {
        .items-wrapper {
            width: 100%;

            .item {
                width: 100%;
                margin-bottom: 30px;
                padding: 20px;
                box-shadow: 0 1px 12px rgba($black, .12);

                img {
                    width: 100%;
                }
            }
        }
    }
}